PG_HOST=host.docker.internal
PG_PORT=5432
PG_DATABASE=postgres
PG_USER=postgres_exporter
PG_PASSWORD=change-me-strong-password
PG_SSLMODE=disable

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-strong-password
